apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: action-ingress
spec:
  ingressClassName: nginx
  rules:
    - host: myapp.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: action-service
                port:
                  number: 80
