name: CI/CD Docker → Kubernetes

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extract tag version (v1.0.0 → 1.0.0)
      - name: Get version
        id: tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: bhaskarboruah10/myapp:${{ steps.tag.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - uses: azure/setup-kubectl@v3

      - name: Load kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      # Replace image tag + deploy EVERYTHING
      - name: Deploy to Kubernetes
        run: |
          sed -i "s|IMAGE_TAG|${{ steps.tag.outputs.version }}|g" k8s/deployment.yml
          kubectl apply -f k8s/
          kubectl rollout status deployment action-deploy
